footer{
    display: flex;
}

footer article{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

footer > article:last-of-type > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}