header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

.boton-cabecera{
    display: none;
}



.inicio-regis{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}