main {
    > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        form {
            display: flex;
            flex-direction: column;
            place-content: center;
            gap: 40px;
            > div:first-of-type {
                display: flex;
                /*justify-content: space-between; */
                > div {
                    display: flex;
                    > div {
                        display: flex;
                        flex-direction: column;
                    }
                }
                
            } 
        }

    }
    
    > section:last-of-type {
        display: none;
    }
}

@include mixin_media_query(max, tama10_5){
    main {
        > section { 
            form { 
                > div:first-of-type {
                    flex-direction: column;
                    > div:first-of-type {
                        display: flex;
                    }
                }
            }
        }
    }
}

@include mixin_media_query(max, tama5){
    main {
        > section {
            form {
                > div:first-of-type {
                    > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}