main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > form{
        display: flex;
        flex-direction: column;
        @include modificar(gap, 10px);

        > label{
            text-align: start;
            > input {
                margin: 0 auto;
            } 
        }
    }
}

.sect-regis{
    form{
        @include modificar(gap, 2px);
    }
}

.inl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}