@use "sass:map";

@mixin modificar($propiedad1, $valor) {
    #{$propiedad1}:$valor;
}

@mixin jc($valor){
    justify-content: $valor;
}

@mixin ancho($valor) {
    width: $valor;
}

@mixin mixin_media_query($tipo: max, $tamanyo) {
    $size: map.get($puntos-ruptura, $tamanyo);
  
    @media only screen and (#{$tipo}-width: $size) {
      @content;
    }
}

@mixin mixin_media_query_ambos($tipo_min: min, $tamanyo_min,$tipo_max: max, $tamanyo_max) {
    $size_min: map.get($puntos-ruptura, $tamanyo_min);
    $size_max: map.get($puntos-ruptura, $tamanyo_max);
  
    @media only screen and (#{$tipo_min}-width: $size_min) and (#{$tipo_max}-width: $size_max) {
      @content;
    }
}