//! Defino las variables
$tamanos_pantalla: (90vw, 80vw, 70vw, 40vw, 30vw);
$colores_bg: (#526A40, rgba(181, 234, 140, .4), rgba(86, 58, 29, .9), white, #11150D, black, rgba(181, 234, 140, .4), rgba(49, 64, 38, .9));


$fuenteComfortaa : Comfortaa, sans-serif;
$fuenteTitulos: Galada, Verdana, Geneva, Tahoma, sans-serif;

$puntos-ruptura: (
    tama4_5: 450px,
    tama5_4: 540px,
    tama5_6: 560px,
    tama7: 700px,
    tama9_5: 950px,
    tama11_5: 1150px,
    tama12: 1200px,
    tama12_5: 1250px,
    tama14: 1400px,
    tama20: 2000px
);