header{
    background-color: #526A40;
    width: 100vw;
    height: 70px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6); 
    z-index: 100;
}

nav{
    width: 90%;
    margin: 0 auto;
}

nav a{
    color: nth($colores_bg, 6);
    border: 1px solid nth($colores_bg, 6);
    background-color: nth($colores_bg, 4);
    border-radius: 60px;
    padding: 3px 6px;
}

nav img{
    background-color: nth($colores_bg, 4);
    padding: 3px 3px;
    border-radius: 100%;
}

.enl-inicio{
    border: none;
    background-color: transparent;
}

nav img {
    width: 40px;
    height: auto;
}

.img-inicio{
    width: 30px;
    height: 30px;
    border-radius: 60px;
}

.logo{
    margin-top: 15px;
    color: nth($colores_bg, 4);
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    font-size: 25px;
}

.inicio-regis{
    border: none;
    background: transparent;
    margin-right: 6px;
    cursor: pointer;
}

@include mixin_media_query(max, tama4_5){
    header{
        height: 60px;
    }
}