header{
    background-color: #526A40;
    width: 100vw;
    height: 70px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6); 
    z-index: 100;
}

nav{
    width: 90%;
    margin: 0 auto;
}

nav a{
    color: nth($colores_bg, 6);
    border: 1px solid nth($colores_bg, 6);
    background-color: nth($colores_bg, 4);
    border-radius: 60px;
    padding: 3px 4px;
}

nav img{
    background-color: nth($colores_bg, 4);
    padding: 3px;
    border-radius: 100%;
    width: 40px;
    height: auto;
}

.enl-inicio{
    border: none;
    background-color: transparent;
}
.logo{
    margin-top: 15px;
    color: nth($colores_bg, 4);
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    font-size: 25px;
}

@include mixin_media_query(max, tama9_5){
    nav{
        width: 98%;
    }

    nav a{
        padding: 2px 7px;
    }
}

@include mixin_media_query(max, tama4_5){
    header{
        height: 60px;
    }

    nav{
        width: 100vw;
        margin: 0 6px;
    }

    nav a{
        padding: 1px 6px;
    }

   .boton-cabecera{
        width: 30px;
        border: 0;
        background: transparent;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
     /* .boton-cabecera > div{
        background-color: black;
        height: 2px;
        width: 90%;
        border-radius: 5px;
        /* transition: all .5s;
        transform-origin: left; 
    } */
}