main{
    height: 100vh;
    background-color: nth($colores_bg, 2);
    margin-top: 70px;
}

section{
    width: 40%; //! tamaño
    border-radius: 60px;
    background-color: nth($colores_bg, 4);
    > article:first-of-type{
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        background-color: nth($colores_bg, 7);
        > h3{
            color: nth($colores_bg, 4);
        }
    }

    > article:last-of-type {
        padding: 8%;
        margin: 0 auto;
        > form{
            width: 60%;
            > input::placeholder {
                font-family: $fuenteComfortaa;
                padding: 0 10px;
            }

            > input {
                border-radius: 5px;
                font-size: clamp(1rem, 0.967rem + 0.178vw, 1.3rem);
                padding: 2px 4px;
            }

            > label {
                display: inline-block;

                > input {
                    margin: 20px auto;
                }
            }

            > input[type=date] {
                font-family: $fuenteComfortaa;
                opacity: .6;
            }
            
            >label ~ input{
                margin-bottom: 10%;
            }

            > input[type=submit] {
                width: min-content;
                padding: 2px 10px;
                margin: 0 auto;
                border-radius: 60px;
                background-color: nth($colores_bg, 5);
                color: nth($colores_bg, 4);
                margin-bottom: 10%;
                font-family: $fuenteComfortaa;
                font-size: clamp(1rem, 0.967rem + 0.178vw, 1.3rem);
            }
        }
    }
}

.inl{
    >label {
        > input[type=radio] {
            margin-right: 7px;
        }
    }
}

.main-regis{

    padding: 5%;
}

.sect-regis{
    margin-top: 70px;
    > article:last-of-type {
        padding: 2%;

        >form {
            > input {
                margin-bottom: 5%;
                border-radius: 5px;
            }
        }
    }
}

.sect-regis div ~ label{
    margin-top: 5%;
}

@include mixin_media_query(max, tama12){
    main{
        margin-top: 50px;
    }
    
    section{
        width: nth($tamanos_pantalla, 3); //! tamaño
    }
}


@include mixin_media_query(max, tama7){
    .main-regis{
        margin-top: 60px;
        padding-bottom: 20%;
    }
    
    section{
        width: nth($tamanos_pantalla, 1); //! tamaño
        > article:last-of-type {
            width: 100%; //! tamaño;
            > form{
                width: 80%; 
            }
        }
    }
}


@include mixin_media_query(max, tama4_5){
    .main-regis{
        margin-top: 60px;
        padding-bottom: 20%;
    }
    
    section{
        > article:last-of-type {
            > form{
                width: 96%; 
            }
        }
    }
}



