main {
    text-align: center;
    > section {
        height: 100vh;
        > article {
            padding: 50px;
            margin: 0 auto;
            > form {
                > div:first-of-type {
                    > div {
                        position: relative;
                        background-color: nth($colores_bg, 4);
                        width: 100%;
                        
                        > div {
                            position: relative;
                            padding:15px;
                            height: 80px;
                            width: 185px;   

                            > label ~ input {
                                margin-top: 10px;
                            }

                            >input, label {
                                text-align: center;
                                border: 0;
                                margin: 0 auto;
                            }
    
                            &:not(:last-of-type)::after {
                                content: '';
                                position: absolute;
                                background-color: nth($colores_bg, 6);
                                width: 1px;
                                height: 80px;
                                top: 0;
                                right: 0;
                            }

                            input[type=number]::-webkit-outer-spin-button,
                            input[type=number]::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }

                        &:first-of-type {
                            border-bottom-left-radius: 40px;
                            border-top-left-radius: 40px;
                        }

                        &:last-of-type {
                            border-bottom-right-radius: 40px;
                            border-top-right-radius: 40px;
                        }

                        input[type=date]::-webkit-calendar-picker-indicator {
                            display: none;
                        }

                        input[type=date], select{
                            font-family: $fuenteComfortaa;
                        }
                        
                        label ~ select {
                            margin-top: 10px;
                        }

                        select {
                            background-color: transparent;
                            width: 90%;
                        }

                        select {
                            text-align: center;
                            border: 0;
                            margin: 0 auto;
                        }

                        &:not(:last-of-type)::after {
                            content: '';
                            position: absolute;
                            background-color: nth($colores_bg, 6);
                            width: 1px;
                            height: 77px;
                            top: 0;
                            right: 0;
                        }
                    }
                }

                input::placeholder {
                    text-align: center;
                }

                input[type=submit] {
                    width: min-content;
                    padding: 2px 10px;
                    margin: 0 auto;
                    border-radius: 60px;
                    background-color: nth($colores_bg, 5);
                    color: nth($colores_bg, 4);
                    font-family: $fuenteComfortaa;
                } 

                /* Quitar los controles de número */
                input[type=number]::-webkit-outer-spin-button,
                input[type=number]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    appearance: auto;
                    -moz-appearance: textfield; /* Firefox */
                } 

                /* Quitar el control de fecha */
                input[type=date]::-webkit-calendar-picker-indicator {
                    display: none;
                }
            }
        }
    }
    
    > section:first-of-type {
        background-color: nth($colores_bg, 2);
    }

}

@include mixin_media_query(max, tama10_5){
    /* main > section > article > form > div:first-of-type > div */
    main {
        > section {
            > article {
                padding: 20px;
                > form {
                    > div:first-of-type {
                        > div {
                            > div {
                                width: 150px;
                            }
                        }

                        > div::after {
                            display: none;
                        }

                        > div:first-of-type {
                            border-radius: 40px;
                        
                        }

                        > div:last-of-type {
                            border-radius: 40px;
                            margin: 60px auto;
                            width: 60%;
                            > div {
                                width: 50%;
                                input {
                                    width: 80%;
                                    background-color: transparent;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

@include mixin_media_query(max, tama5){
    /* main > section > article > form > div:first-of-type > div:last-of-type */
    main {
        > section {
            > article:last-of-type {
                padding: 0px;
                > form {
                    > div:first-of-type {
                        width: 90vw;
                        background-color: nth($colores_bg, 4);
                        border-radius: 10%;
                        *::after {
                            display: none;
                        }

                        > div:first-of-type {
                            select {
                                width: auto;
                            }

                            > div {
                                width: 100%;
                                border-bottom: 2px solid nth($colores_bg, 2);
                            }
                        }

                        > div:last-of-type {
                            margin: 0 auto;
                            width: 100%;
                            > div:not(:last-of-type) {
                                width: 100%;
                                border-bottom: 2px solid nth($colores_bg, 2);
                            }
                        }
                    }
                }
            }
        }
    }
}
